
#button {
    -fx-text-fill: rgba(17, 145,  213);
    -fx-border-color:  rgba(255, 255,  255,  .80);
    -fx-border-radius: 8;
    -fx-padding: 6  6  6  6;
}

#font-button {
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.root 
{
	-fx-border-color: rgba(17, 145,  213);
	-fx-border-width: 2px;
	-fx-border-radius: 8px;
	-fx-border-insets: 5px;
    -fx-padding: 6  6  6  6;
	-fx-spacing: 3px;
    -fx-background: #f4f4f4;
    -fx-background-insets: 3px;
}

-fx-border-radius: 5;
}



.choice-box {
    -fx-skin: "com.sun.javafx.scene.control.skin.ChoiceBoxSkin";
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 0.0em 0.5em 0.0em 0.0em; /* 0 6 0 0 */
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}




